<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <title>Shoes | {{ store.getStoreName }}</title>
    </head>
    <body>
        <div class="container">
            <h2>Edit {{ store.getStoreName }}</h2>

            <form action="/store/{{ store.getId }}" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for="new_store_name">New store name</label>
                <input type="text" name="new_store_name" value="{{ store.getStoreName }}">

                <label for="new_phone">New phone number</label>
                <input type="text" name="new_phone" value="{{ store.getPhone }}">

                <button type="submit" class="btn btn-success">Submit changes</button>
            </form>

            <form action="/store/{{ store.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-danger">Delete this store</button>
            </form>

            <a href="/">Home</a>

        </div>
    </body>
</ht
